*{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
box-sizing: border-box;
margin: 0 auto;
}
body{
  margin: 0;
  background-image: url("..imgs/background.png");
}
header{
  padding: 20px;
width: 96%;
border: 3px solid rgb(255, 255, 255);
}
main{
  width: 96%;
}
.slider-item{
  width: 17%;
}
.slider-item img{
  display: none;
  width: 100%;
}
:root{
  --main-color: white;
  --secondary-color: grey;

}
h1{
  background-color: var(--main-color);
}